<div class="header-container" [ngClass]="theme == 'dark' ? 'dark' : 'light'">
    <nav class="main-nav">
        <ul>
            <li *ngIf="showHome"><a routerLink="home">Home</a></li>
            <li><a routerLink="about-us">About</a></li>
            <li><a routerLink="contact-us">Contact us</a></li>
            <li><a routerLink="feedback">Leave a feedback</a></li>
            <li><a (click)="goToEmployees()">Employees</a></li>
            <li *ngIf="showLogout"><a (click)="logout()">Log out</a></li>
        </ul>

        <div class="theme">
            {{day}} | {{hour}} : {{minute}} : {{seconds}} {{ampm}}
            <i (click)="switchTheme()" class="fa-solid fa-sun fa-lg"></i>
        </div>
    </nav>
</div>
