<div class="form-register" [ngClass]="theme == 'dark' ? 'dark' : 'light'">
    <h2 class="title">Welcome to the login page.</h2>
    <form (ngSubmit)="onSigninFormSubmit(signinForm)" #signinForm="ngForm">
        <div class="form-element">
            <label for="email">Enter your Email Id:</label>
            <input 
                type="email" 
                id="email" 
                [(ngModel)]="email" 
                name="email"
                required
                #emailVar="ngModel"
                [ngClass]="{'error': emailVar.errors && emailVar.touched && emailVar.errors['required']}"
            >
            <app-error 
                    *ngIf="emailVar.errors && emailVar.errors['required'] && !emailVar.untouched"
                    text="Email is required"
            >
            </app-error>
        </div>
        <div class="form-element">
            <label for="password">Enter your password:</label>
            <input 
                type="password" 
                id="password" 
                #empPassword="ngModel"
                [(ngModel)]="password" 
                name="password"
                required
                [ngClass]="{'error': 
                empPassword.errors && empPassword.touched && empPassword.errors['required']}"
            >
            <app-error 
                    *ngIf="empPassword.errors && empPassword.errors['required'] && !empPassword.untouched"
                    text="Password is required"
            >
            </app-error>
        </div>
        <div class="form-element">
            <button type="submit" [disabled]="!signinForm['valid']">Sign-in</button>
        </div>
    </form>
</div>




