<div class="home" [ngClass]="theme == 'dark' ? 'dark' : 'light'">

    <div class="container">
        <div class="left-side">
            <h2>
                <span class="first-line">
                    <span class="C">C</span>odeStead's <span class="E">E</span>mployee
                </span>
                <br>
                <span class="second-line">
                    <span class="M">M</span>anagement <span class="P">P</span>ortal
                    <span class="semicolon">;</span>
                </span>
            </h2>
        </div>
    
        <div class="buttons">
            <app-button 
                (buttonClick)="newUserClick()"
                text="New to the organization?"
            >
            </app-button>
            <app-button 
                (buttonClick)="goToSignin()"
                *ngIf="!isNewUser"
                text="Signin as admin?"    
            >
            </app-button>
            <app-button 
                *ngIf="isNewUser" 
                (buttonClick)="goToRegister()"
                text="Register"
            >
            </app-button>
        </div>
    </div>

    <!-- <app-about-us theme="theme"></app-about-us> -->
    

</div>