<div class="about-us-main" [ngClass]="theme == 'dark' ? 'dark' : 'light'">
    <h2 class="title">
        <span>A</span>bout Us<span>.</span>
    </h2>
    <div class="about-us">
        
        <div class="left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Nam at suscipit beatae. Numquam distinctio facere enim reprehenderit quam, 
            architecto fugiat eius hic excepturi iste quia laboriosam, consequatur, 
            aperiam similique possimus laudantium deleniti consequuntur ut. 
            Odio, saepe reiciendis similique autem aliquid labore temporibus nostrum 
            doloribus quam pariatur cum hic minus facilis!
        </div>
        <div class="right">
            <div class="cards" [ngClass]="theme == 'dark' ? 'dark' : 'light'">
                <div class="card card-1">
                    <h4 class="heading">
                        Scalable
                    </h4>
                    <p class="body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eius.
                    </p>
                </div>
                <div class="card">
                    <h4 class="heading">
                        Scalable
                    </h4>
                    <p class="body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eius.
                    </p>
                </div>
                <div class="card">
                    <h4 class="heading">
                        Scalable
                    </h4>
                    <p class="body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eius.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>

