.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.banner-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 5;
}

.left{
    margin-right: 1rem;
    background-color: greenyellow;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}