.title{
    margin-bottom: 3rem;
    font-size: 2rem;
    max-width: 800px;
    margin: 3rem auto;
}
.form-register{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: max-content;
    margin-top: 0;
    padding: 4.5rem 3.5rem;
}

.form-register.dark{
    background-color: black;
    color: white
}

.form-register.light{
    background-color: white;
    color: black
}

form{
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 20px 35px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1rem
}

.form-element{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1.5rem; */
}

.form-element label{
    margin-bottom: 0.5rem;
}

.form-element input{
    display: block;
    padding: 8px 10px;
    width: 20rem;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

.form-element input.error{
    border: 1px solid rgba(255, 0, 0, 0.6)
}

.form-element select{
    display: block;
    padding: 8px 10px;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

form > .form-element{
    margin-top: 2rem;
}

/* .form-element:last-child{
    margin-top: 10px;
} */

button{
    border: none;
    background-color: var(--primary-font-color);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    transition: transform 0.5s;
    width: 50%;
    margin: auto;
}

button:disabled{
    background-color: rgba(0, 0, 0, 0.1);
}

.form-register.dark button:disabled{
    background-color: rgba(255, 255, 255, 0.1);
}

button:disabled:hover{
    transform: scale(1);
}

button:hover{
    transform: scale(1.1);
}