.title{
    margin-right: 5rem;
    letter-spacing: 2px;
}

.title span{
    color: var(--primary-font-color);
    font-weight: bolder;
    font-size: 3.5rem;
}

.form-register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    margin-top: 0;
    padding: 4.5rem 3.5rem;
}

.form-register.dark{
    background-color: black;
    color: white
}

.form-register.light{
    background-color: white;
    color: black
}

form{
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

textarea{
    resize: none;
}

.form-element label{
    margin-bottom: 0.5rem;
}

.form-element input,
.form-element textarea{
    display: block;
    padding: 8px 10px;
    width: 20rem;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

.form-element:last-child{
    margin-top: 10px;
}